*{
	font-size: 20px;
	box-sizing: border-box;

}

body{
	margin: 0;
	padding: 0;
background-color: black;
}

img{
	width: 100%;

}

a{
	color: white;
text-decoration-line: none;
padding: 7px;
}
a:hover{
	color: white;
}

div.boton{
	background-color: blue;
	width: 100px;
	height: 45px;
	padding: 2px;
}
div.row{
	display: flex;
	padding: 5px;
	flex-wrap: wrap;

}

div.column{
	flex: 25%;
	padding: 5px;

}
.column img{
	margin-top: 5px;

}
span.crediN{
	background-color: blue;
	margin: 10px;
	color: white;
	display: inline-block;

}

@media (max-widht: 800px){
	.column{
		flex: 50%;

	}
}
@media (max-widht: 600px){
	.column{
		flex: 100%;

	}
}
